h1, h2, button,.form-control, li {
	font-family: 'Bangers', cursive;

}

h1 {
	font-size: 6em;
}

.form-control {
	width: 30%;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 1.5em;
	}
	.form-control {
		width: 90%;
	}
}

.container {
	justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;           
}